*.pyc
include/
lib/
staticfiles/
assets/
media/
.build

# Sass-cache
*.sass-cache/

# sqlite3 db
*.db
*.sqlite3

# sublime stuff
*.sublime-workspace

# Virtual env
venv/

# Mac crap
*.DS_Store

# Ignore settings/local.py
*/settings/local.py

# Node Stuff
node_modules

